* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: rgb(25, 66, 78);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(104, 130, 116);
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-y: hidden;
}

header,
footer {
    background-color: rgb(49, 85, 97);
}

header {
    border-bottom: 1px solid rgb(96, 53, 64);
    align-items: center;
    text-align: center;
    height: calc(10vh + 40px);
    z-index: 2;
}

a {
    text-decoration: none;
    color: rgb(196, 70, 43);
}

header a,
.dark-mode header a {
    color: (235, 228, 165);
    font-size: 3.4rem;
}

header a:hover,
.dark-mode header a:hover {
    color: rgb(104, 130, 116);
    text-shadow: -1.5px 0 rgb(235, 228, 165), 0 1.5px rgb(235, 228, 165), 1.5px 0 rgb(235, 228, 165), 0 -1.5px rgb(235, 228, 165);
}

footer {
    border-top: 1px solid rgb(96, 53, 64);
    align-content: center;
    text-align: center;
    color: rgb(235, 228, 165);
}

footer p {
    font-size: 1rem;
    line-height: 2rem;
}

#blog-main {
    max-width: 100vw;
    padding: 0 5rem;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    line-height: 1.5;
}

#blog-main {
    padding: 0 0 0 5rem;
}

h1,
h2 {
    text-align: center;
    color: rgb(25, 66, 78);
    margin-top: 1rem;
}

h2 {
    margin-bottom: 1.2rem;
    color: rgb(25, 66, 78);
}

h3,
h4 {
    color: rgb(104, 130, 116);
}

.fulfillment {
    text-align: center;
}

.public-work {
    margin: 0 auto;
}

.dark-mode main {
    background-color: rgb(17, 17, 32);
    color: rgb(134, 157, 184);
}

.dark-mode header,
.dark-mode footer {
    background-color: rgb(49, 85, 97);
}

#mode-switch {
    background-color: rgb(49, 85, 97);
    font-size: 3rem;
    border-radius: 50%;
    cursor: pointer;
}

#rss-feed-link {
    color: rgb(196, 70, 43);
    font-size: 3.4rem;
}

.scroll-progress-container {
    width: 100%;
    background-color: rgb(49, 85, 97);
}

.scroll-progress-bar {
    background-color: rgb(49, 85, 97);
    width: 0%;
    text-align: left;
    transform: scaleX(-1);
    font-size: 32px;
}

#flower {
    text-align: left;
    background-color: rgb(49, 85, 97);
    font-size: 32px;
}

.dark-mode .scroll-progress-bar {
    background-color: rgb(49, 85, 97);
}

.blog-description {
    margin: 1rem 0 2rem 0;
    text-align: center;
    max-width: 100vw;
}

#sidebar {
    z-index: 1;
    background-color: rgb(247, 244, 222);
    padding: 1rem;
    border: 1px solid rgb(25, 66, 78);
    border-radius: 5px;
    height: calc(100vh - 40px - 10vh - 10vh - 12.5rem);
    max-height: max-content;
    width: 20%;
    position: fixed;
    top: 20rem;
    right: 1rem;
    overflow-y: auto;
}

.dark-mode #sidebar {
    background-color: rgb(77, 129, 122);
    border: 1px solid rgb(235, 235, 145);
}

#sidebar h3 {
    text-align: center;
    margin: 1rem 0 1rem 0;
}

#sidebar ol {
    margin-bottom: 8px;
    list-style-position: inside;
}

#sidebar li,
#sidebar a {
    color: rgb(25, 66, 78);
    transition: all 0.12s ease-in-out;
}

#sidebar li.active,
#sidebar li.active a {
    color: rgb(196, 70, 43);
}

.dark-mode #sidebar li,
.dark-mode #sidebar a {
    color: rgb(245, 244, 242);
}

.dark-mode #sidebar h3 {
    color: rgb(17, 17, 32);
}

.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode #sidebar li.active,
.dark-mode #sidebar li.active a {
    color: rgb(235, 176, 57);
}

.dark-mode h1,
.dark-mode a {
    color: rgb(235, 235, 145);
}

.dark-mode #sidebar li:hover,
.dark-mode #sidebar a:hover {
    font-size: 1.1rem;
    color: rgb(235, 235, 145);
}

#sidebar a:hover,
#sidebar li:hover {
    font-size: 1.1rem;
}

#posts {
    margin: 2rem 2rem 0 0;
    text-align: justify;
}

#posts article p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#posts article h3 {
    margin-bottom: 0.8rem;
}

#go-to-top {
    display: none;
    border: 1px solid rgb(96, 53, 64);
    outline: none;
    background-color: rgb(235, 228, 165);
    color: rgb(104, 130, 116);
    cursor: pointer;
    padding: 5px;
    border-radius: 15px;
    font-size: 1.2rem;
}

#go-to-top:hover {
    background-color: rgb(104, 130, 116);
    color: rgb(235, 228, 165);
    border: 1px solid rgb(235, 228, 165);
}

article p {
    margin-bottom: 1rem;
}

img {
    max-width: 10rem;
}

p {
    font-size: 1.2rem;
}

/*
-------------------------------------------------------------------------------
Grid and responsiveness
-------------------------------------------------------------------------------
*/

body {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: calc(10vh + 40px) calc(100vh - 40px - 10vh - 10vh) 10vh;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

@media only screen and (max-width: 768px) {
    body {
        grid-template-rows: calc(10vh + 40px) calc(100vh - 40px - 10vh - 10vh) 10vh;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }

    header {
        grid-area: header;
        display: grid;
        grid-template-columns: 40px auto auto auto 40px;
        grid-template-rows: 5vh 5vh 40px;
        grid-template-areas:
            ". homepage rss mode-switch-wrapper ."
            ". homepage rss mode-switch-wrapper ."
            "progress-bar progress-bar progress-bar progress-bar flower";
    }

    footer {
        display: grid;
        grid-template-columns: 2% auto auto auto 2%;
        grid-template-rows: auto auto;
        grid-template-areas:
            ". showSidebar . go-to-top ."
            "copyright copyright copyright copyright copyright";
    }

    #post-4-table {
        font-size: 0.8rem;
    }

    #blog-main {
        padding: 0 0.8rem 0 1.5rem;
    }

    header a,
    .dark-mode header a {
        font-size: 2.5rem;
    }

    #rss-feed-link {
        font-size: 2.5rem;
    }

    #mode-switch {
        font-size: 2.5rem;
    }

}

@media only screen and (min-width: 768px) {
    header {
        grid-area: header;
        display: grid;
        grid-template-columns: 40px auto auto auto 10% 14% 40px;
        grid-template-rows: 10vh 40px;
        grid-template-areas:
            ". homepage . . rss mode-switch-wrapper ."
            "progress-bar progress-bar progress-bar progress-bar progress-bar progress-bar flower";
    }

    footer {
        display: grid;
        grid-template-columns: 2% 10% auto 10% 2%;
        grid-template-rows: auto;
        grid-template-areas: ". showSidebar copyright go-to-top .";
    }
}

#blog-main,
#index-main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

#showSidebar {
    grid-area: showSidebar;
}

#copyright {
    grid-area: copyright;
}

#go-to-top {
    grid-area: go-to-top;
}

#homepage-link {
    grid-area: homepage;
}

#mode-switch-wrapper {
    grid-area: mode-switch-wrapper;
}

#rss-feed-link {
    grid-area: rss;
}

#blog-link {
    grid-area: rss;
}

.scroll-progress-container {
    grid-area: progress-bar;
}

#flower {
    grid-area: flower;
}

@media only screen and (min-width: 768px) {
    #blog-content {
        display: grid;
        grid-template-columns: auto 22%;
        grid-template-areas: "posts sidebar";
    }

    #showSidebar {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    #blog-content {
        max-width: 100vw;
        grid-template-columns: auto;
        grid-template-areas:
            "posts";
    }

    #sidebar {
        display: none;
    }

    #sidebar.visible {
        display: block;
        background-color: rgb(235, 228, 165);
        width: 65%;
        top: 20rem;
    }

    .dark-mode #sidebar.visible {
        background-color: rgb(104, 130, 116);
        border: 1px solid rgb(235, 228, 165);
    }

    #showSidebar {
        border: 1px solid rgb(96, 53, 64);
        outline: none;
        background-color: (235, 228, 165);
        color: rgb(104, 130, 116);
        cursor: pointer;
        padding: 5px;
        border-radius: 15px;
        font-size: 1.2rem;
        z-index: 10;
    }

}

#posts {
    grid-area: posts;
}

#sidebar {
    grid-area: sidebar;
}