<footer class="dark-geen-bg">
    <button id="showSidebar" title="Näita sisukorda" onclick="showSidebar()">SISUKORD</button>
    <a id="instagram" href="https://instagram.com/k2rjet2navalood?igshid=ZGUzMzM3NWJiOQ==" rel="author"
        title="Instagram" target="_blank"><img src="{{ site.baseurl }}assets/icons/Instagram_logo.svg" alt="Instagram"
            role="link" /></a>
    <p id="copyright">2023 Apicrap</p>
    <a id="message" href="https://ig.me/m/k2rjet2navalood" rel="author" title="Instagram messenger" target="_blank"><img
            src="{{ site.baseurl }}assets/icons/envelope.svg" alt="instagram messenger" role="link" /></a>
    <button id="go-to-top" title="Tagasi üles" onclick="goBackToTop()">ÜLES</button>
</footer>