<header class="dark-geen-bg">
    <button id="showSidebar" class="" title="Näita sisukorda" onclick="showSidebar()">≡</button>
    <a id="homepage-link" href="{{site.baseurl}}#blog-heading">
        <span class="letter">K</span>
        <span class="letter">ä</span>
        <span class="letter">r</span>
        <span class="letter">j</span>
        <span class="letter">e</span>
        <span class="letter">t</span>
        <span class="letter">ä</span>
        <span class="letter">n</span>
        <span class="letter">a</span>
        <span class="letter">v</span>
        <span class="letter">a</span>
        <span class="letter">&ensp;</span>
        <span class="letter">l</span>
        <span class="letter">o</span>
        <span class="letter">o</span>
        <span class="letter">d</span>
    </a>
    <div id="social">
        <a id="instagram" href="https://instagram.com/k2rjet2navalood?igshid=ZGUzMzM3NWJiOQ==" rel="author"
            title="Instagram" target="_blank">
            {% include instagram_logo_light.svg %}
        </a>
        <a id="message" href="https://ig.me/m/k2rjet2navalood" rel="author" title="Instagram messenger" target="_blank">
            {% include envelope_light.svg %}
        </a>
        <a id="rss-feed-link" rel="alternate" href="{{site.baseurl}}feed.xml" type="application/atom+xml"
            title="{{ site.title }}" target="_blank">RSS</a>
    </div>
    <a id="support" href="https://www.buymeacoffee.com/k2rjet2nav" target="_blank">{% include bmc-logo.svg %}</a>
    <div id="mode-switch-wrapper"><button id="mode-switch" onclick="darkMode()">&#127769;</button></div>
    <div id="bee-hive">&#127969;</div>
    <div class="scroll-progress-container">
        <div id="progress-bar" class="scroll-progress-bar">&#128029;</div>
    </div>
    <div id="flower">&#127802;</div>
</header>