<header class="dark-geen-bg">
    <a id="homepage-link" href="/#blog-heading">
        <span class="letter">K</span>
        <span class="letter">ä</span>
        <span class="letter">r</span>
        <span class="letter">j</span>
        <span class="letter">e</span>
        <span class="letter">t</span>
        <span class="letter">ä</span>
        <span class="letter">n</span>
        <span class="letter">a</span>
        <span class="letter">v</span>
        <span class="letter">a</span>
        <span class="letter"> </span>
        <span class="letter">l</span>
        <span class="letter">o</span>
        <span class="letter">o</span>
        <span class="letter">d</span>
    </a>
    <a id="rss-feed-link" href="https://apicrap.github.io/apiblog/feed.xml">RSS</a>
    <div id="mode-switch-wrapper"><button id="mode-switch" onclick="darkMode()">&#127769;</button></div>
    <div class="scroll-progress-container">
        <div id="progress-bar" class="scroll-progress-bar">&#128029;</div>
    </div>
    <div id="flower">&#127802;</div>
</header>