<script>
    const main = document.querySelector("main");
    const sidebar = document.getElementById("sidebar");
    const initialSidebarHeight = window.getComputedStyle(sidebar).height;
    const backToTopButton = document.getElementById("go-to-top");


    window.addEventListener("load", addScrollListener, false);
    window.removeEventListener("unload", addScrollListener);

    window.addEventListener("DOMContentLoaded", () => {
        const observer = new IntersectionObserver(listElements => {
            listElements.forEach(element => {
                const id = element.target.getAttribute("id");
                if (element.intersectionRatio > 0) {
                    document.querySelector(`a[href="#${id}"]`).parentElement.classList.add("active");
                } else {
                    document.querySelector(`a[href="#${id}"]`).parentElement.classList.remove("active");
                }
            });
        });

        document.querySelectorAll("article[id]").forEach((article) => {
            observer.observe(article);
        });
    });

    function addScrollListener() {
        window.addEventListener("scroll", () => showScrollProgress(), true);
        return window.removeEventListener("scroll", showScrollProgress);
    }

    function showBackToTopButton() {
        backToTopButton.style.display = "block";
    }

    function hideBackToTopButton() {
        backToTopButton.style.display = "none";
    }

    function showScrollProgress() {
        let windowToScroll = main.scrollTop;
        let scrolledHeight = main.scrollHeight - main.clientHeight;
        let scrolledPercent = (windowToScroll / scrolledHeight) * 100;
        const sidebarHeight = sidebar

        if (scrolledPercent > 1) {
            showBackToTopButton();
        } else {
            hideBackToTopButton();
        }

        if (scrolledPercent > 3) {
            adjustSidebarHeightAndPosition();
        } else {
            resetSidebarHeightAndPosition()
        }

        document.getElementById("progress-bar").style.width = scrolledPercent + "%";
    }

    function darkMode() {
        document.body.classList.toggle("dark-mode");
        let currentMode = document.getElementById("mode-switch");
        currentMode.classList.toggle("dark-mode");
        if (currentMode.className == "dark-mode") {
            document.getElementById("mode-switch").innerHTML = "&#127774;";
        } else {
            document.getElementById("mode-switch").innerHTML = "&#127769;";
        }
    }

    function goBackToTop() {
        main.scrollTop = 0;
    }

    function showSidebar() {
        sidebar.classList.toggle("visible");
    }

    function adjustSidebarHeightAndPosition() {
        sidebar.style.top = "125px";
        //sidebar.style.height = "calc(100vh - 205px - 3rem)";
    }

    function resetSidebarHeightAndPosition() {
        sidebar.style.top = "125px";
        sidebar.style.height = initialSidebarHeight;
    }
</script>
<script src="{{ site.baseurl }}assets/js/image_comparison_slider.js"> </script>