{% assign snippets = site.data.snippets %}
{% assign reversed_posts = site.posts | where: "language", page.language | reverse %}

<div id="sidebar-container">
    <div id="sidebar">
        {% if page.url == "/404.html" %}
        <h3>Index / Sisukord</h3>
        {% else %}
        <h3>{{ snippets.index[page.language] }}</h3>
        {% endif %}
        <div id="social-block">
            <p id="copyright">2023 Apicrap</p>
            <a id="instagram-sidebar" href="https://instagram.com/k2rjet2navalood?igshid=ZGUzMzM3NWJiOQ==" rel="author"
                title="Instagram" target="_blank">
                {% include instagram_logo_light.svg %}
            </a>
            <a id="message-sidebar" href="https://ig.me/m/k2rjet2navalood" rel="author" title="Instagram messenger"
                target="_blank">
                {% include envelope_light.svg %} </a>
            {% if page.language == "en" %}
            <a id="rss-feed-sidebar" rel="alternate" href={{"/feed/en.xml" | relative_url }} type="application/atom+xml"
                title="{{ snippets.title[page.language] }}" target="_blank">RSS</a>
            {% else %}
            <a id="rss-feed-sidebar" rel="alternate" href={{"/feed/et.xml" | relative_url }} type="application/atom+xml"
                title="{{ snippets.title[page.language] }}" target="_blank">RSS</a>
            {% endif %}
            <a id="coffee" href="https://www.buymeacoffee.com/k2rjet2nav" target="_blank">{% include bmc-logo.svg
                %}</a>
        </div>

        <ol id="sidebar-list">
            {% for post in reversed_posts %}
            {% if post.language_reference != nil %}
            {% assign page_translations = site.posts | where: "language_reference", post.language_reference |
            where_exp: "item", "item.language != page.language" | where_exp: "item", "item.published != false" | first
            %}
            {% endif %}
            {% assign altern_slug = page_translations.slug %}
            {% if page.url == "/404.html" %}
            <li class="" value={{post.slug}}><a href={{site.url}}{{site.baseurl}}/{{post.language}}#{{post.slug}}
                    alternate-ref={{site.url}}{{site.baseurl}}/{{post.language}}#{{altern_slug}}>{{post.title}}</a>
            </li>
            {% else %}
            <li class="" value={{post.slug}}><a href=#{{post.slug}} alternate-ref=#{{altern_slug}}>{{post.title}}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ol>
    </div>
</div>