@charset "UTF-8";
/*Header and footer background*/
/* Dark mode main text color only*/
/* Dark mode background*/
/*$grayish-blue: rgb(25, 66, 78); Scrollbar track, h1, h2*/
/*Sidebar in dark mode, buttons on hover, h3, h4 and button text color*/
/*Only img borders and scroll-progress bar */
/*Header links Kärjetänava lood and rss, text-shadow for h1 Blogist, dark mode li and dark mode h2 - h4*/
.dark-geen-bg {
  background-color: rgb(49, 85, 97);
}

/*Header and footer background*/
/* Dark mode main text color only*/
/* Dark mode background*/
/*$grayish-blue: rgb(25, 66, 78); Scrollbar track, h1, h2*/
/*Sidebar in dark mode, buttons on hover, h3, h4 and button text color*/
/*Only img borders and scroll-progress bar */
/*Header links Kärjetänava lood and rss, text-shadow for h1 Blogist, dark mode li and dark mode h2 - h4*/
.dark-geen-bg {
  background-color: rgb(49, 85, 97);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#blog-main {
  scrollbar-width: thin;
  scrollbar-color: rgb(235, 228, 165) rgb(25, 66, 78);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(235, 228, 165);
}

::-webkit-scrollbar-track {
  background-color: rgb(25, 66, 78);
}

body {
  width: 100%;
  display: grid;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow: hidden;
  grid-template-columns: auto;
  grid-template-rows: minmax(103px, max-content) auto minmax(61px, max-content);
  grid-template-areas: "header-area" "main" "footer-area";
}

header {
  grid-area: header-area;
}

#blog-main {
  grid-area: main;
}

footer {
  grid-area: footer-area;
}

h1 {
  text-shadow: 2px 2px 5px rgb(236, 183, 35);
}

h1,
h2 {
  text-align: center;
  color: rgb(25, 66, 78);
  margin-top: 1rem;
}

h2 {
  margin-bottom: 1.2rem;
}

h3,
h4 {
  color: rgb(96, 53, 64);
}

img {
  border: 2px solid rgb(149, 129, 185);
}

p {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: rgb(196, 70, 43);
}

.dark-mode h1,
.dark-mode a {
  color: rgb(235, 228, 165);
}
.dark-mode h2,
.dark-mode h3,
.dark-mode h4 {
  color: rgb(236, 183, 35);
}

/*Header and footer background*/
/* Dark mode main text color only*/
/* Dark mode background*/
/*$grayish-blue: rgb(25, 66, 78); Scrollbar track, h1, h2*/
/*Sidebar in dark mode, buttons on hover, h3, h4 and button text color*/
/*Only img borders and scroll-progress bar */
/*Header links Kärjetänava lood and rss, text-shadow for h1 Blogist, dark mode li and dark mode h2 - h4*/
.dark-geen-bg {
  background-color: rgb(49, 85, 97);
}

#blog-main {
  max-height: -moz-max-content;
  max-height: max-content;
  padding-left: 5rem;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  line-height: 1.5;
}

.dark-mode main {
  background-color: rgb(17, 17, 32);
  color: rgb(134, 157, 184);
}

@media only screen and (max-width: 768px) {
  #blog-main {
    padding: 0 2rem 0 1.5rem;
  }
}
@media only screen and (min-width: 768px) {
  #blog-main {
    display: grid;
    grid-template-columns: auto 22%;
    grid-template-rows: auto auto;
    grid-template-areas: "description sidebar-container" "blog-content sidebar-container";
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
div.blog-description {
  grid-area: description;
}
div.blog-description p {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  div.blog-description {
    max-width: 100%;
  }
}
#blog-content {
  grid-area: blog-content;
}

#posts {
  grid-area: posts;
}

#sidebar-container {
  grid-area: sidebar-container;
}

/*Header and footer background*/
/* Dark mode main text color only*/
/* Dark mode background*/
/*$grayish-blue: rgb(25, 66, 78); Scrollbar track, h1, h2*/
/*Sidebar in dark mode, buttons on hover, h3, h4 and button text color*/
/*Only img borders and scroll-progress bar */
/*Header links Kärjetänava lood and rss, text-shadow for h1 Blogist, dark mode li and dark mode h2 - h4*/
.dark-geen-bg {
  background-color: rgb(49, 85, 97);
}

footer {
  width: 100%;
  align-content: center;
  align-items: center;
  text-align: center;
  border-top: 1px solid rgb(96, 53, 64);
  color: rgb(235, 228, 165);
}
footer p {
  font-size: 1.2rem;
  line-height: 2rem;
}

@media only screen and (max-width: 768px) {
  footer {
    display: grid;
    grid-template-columns: 2% 31% 5% 2% 20% 2% 5% 31% 2%;
    grid-template-rows: auto auto;
    grid-template-areas: ". showSidebar showSidebar showSidebar . go-to-top go-to-top go-to-top ." ". . instagram . copyright . message . .";
  }
}
@media only screen and (min-width: 768px) {
  footer {
    display: grid;
    grid-template-columns: 2% 10% 21% 5% 2% 20% 2% 5% 21% 10% 2%;
    grid-template-rows: auto;
    grid-template-areas: ". . showSidebar instagram . copyright . message go-to-top . .";
  }
  #showSidebar {
    display: none;
  }
}
#instagram img,
#message img {
  border: none;
  height: 21.27px;
  vertical-align: middle;
}

#instagram {
  grid-area: instagram;
}

#message {
  grid-area: message;
}

#showSidebar {
  grid-area: showSidebar;
}

#copyright {
  grid-area: copyright;
}

#go-to-top {
  grid-area: go-to-top;
  background-color: rgb(235, 228, 165);
  color: rgb(96, 53, 64);
  border: 1px solid rgb(96, 53, 64);
  display: none;
  outline: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 15px;
  font-size: 1.2rem;
}
#go-to-top:hover {
  background-color: rgb(96, 53, 64);
  color: rgb(235, 228, 165);
  border: 1px solid rgb(235, 228, 165);
}

/*Header and footer background*/
/* Dark mode main text color only*/
/* Dark mode background*/
/*$grayish-blue: rgb(25, 66, 78); Scrollbar track, h1, h2*/
/*Sidebar in dark mode, buttons on hover, h3, h4 and button text color*/
/*Only img borders and scroll-progress bar */
/*Header links Kärjetänava lood and rss, text-shadow for h1 Blogist, dark mode li and dark mode h2 - h4*/
.dark-geen-bg {
  background-color: rgb(49, 85, 97);
}

header {
  width: 100%;
  z-index: 2;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid rgb(96, 53, 64);
  font-family: "Patua One", cursive;
  text-transform: uppercase;
  text-shadow: 3px 3px 3px rgb(27, 27, 26);
}

@media only screen and (max-width: 768px) {
  header {
    display: grid;
    grid-template-columns: auto auto auto 22px;
    grid-template-rows: 80px 22px;
    grid-template-areas: "homepage-link rss mode-switch-wrapper ." "progress-bar progress-bar progress-bar flower";
  }
}
@media only screen and (min-width: 768px) {
  header {
    display: grid;
    grid-template-columns: auto 5rem auto 22px;
    grid-template-rows: minmax(80px, 3.4rem) 22px;
    grid-template-areas: "homepage-link rss mode-switch-wrapper ." "progress-bar progress-bar progress-bar flower";
  }
}
header a,
.dark-mode header a {
  color: rgb(236, 183, 35);
}

.letter {
  will-change: transform;
  display: inline-block;
  font-size: clamp(20px, 4vw, 40px);
}
.letter:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
#homepage-link {
  grid-area: homepage-link;
}

#rss-feed-link {
  grid-area: rss;
}

#mode-switch-wrapper {
  grid-area: mode-switch-wrapper;
}

#mode-switch {
  background-color: rgb(72, 197, 124);
  border-radius: 50%;
  cursor: pointer;
  font-size: clamp(20px, 4vw, 40px);
}

.scroll-progress-container {
  grid-area: progress-bar;
  width: 100%;
  background-image: linear-gradient(140deg, rgb(234, 222, 219) 0%, rgb(188, 112, 164) 50%, rgb(235, 228, 165) 75%);
}

.scroll-progress-bar {
  padding: 0;
  background-image: linear-gradient(140deg, rgb(149, 129, 185) 0%, rgb(117, 212, 219) 50%, rgb(235, 228, 165) 75%);
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  width: 0%;
  text-align: left;
  transform: scaleX(-1);
}

.dark-mode .scroll-progress-bar {
  background-color: rgb(49, 85, 97);
}

#flower {
  grid-area: flower;
  text-align: left;
  background-color: rgb(235, 228, 165);
}

/*Header and footer background*/
/* Dark mode main text color only*/
/* Dark mode background*/
/*$grayish-blue: rgb(25, 66, 78); Scrollbar track, h1, h2*/
/*Sidebar in dark mode, buttons on hover, h3, h4 and button text color*/
/*Only img borders and scroll-progress bar */
/*Header links Kärjetänava lood and rss, text-shadow for h1 Blogist, dark mode li and dark mode h2 - h4*/
.dark-geen-bg {
  background-color: rgb(49, 85, 97);
}

#posts {
  margin: 2rem 2rem 0 0;
  text-align: justify;
  display: flex;
  flex-direction: column-reverse;
}
#posts article p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 1rem;
}
#posts article h3 {
  margin-bottom: 0.8rem;
}

.post-metadata p,
.post-metadata a {
  font-size: 0.9rem;
  font-weight: lighter;
  font-style: italic;
  text-align: center;
}

img.post-image-regular {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  transition: width 1s ease-in;
}
img.post-image-regular:hover {
  width: 80%;
}

@media only screen and (max-width: 768px) {
  img.post-image-regular {
    width: 100%;
  }
}
img.hero-image {
  width: 100%;
}

.comparison-container {
  position: relative;
  height: 300px;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.comparison-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}
.comparison-img img {
  display: block;
  vertical-align: middle;
}

.image-comparison-slider {
  position: absolute;
  z-index: 3;
  cursor: ew-resize;
  width: 40px;
  height: 40px;
  background-color: rgb(27, 27, 26);
  opacity: 0.7;
  border-radius: 50%;
}

/*Header and footer background*/
/* Dark mode main text color only*/
/* Dark mode background*/
/*$grayish-blue: rgb(25, 66, 78); Scrollbar track, h1, h2*/
/*Sidebar in dark mode, buttons on hover, h3, h4 and button text color*/
/*Only img borders and scroll-progress bar */
/*Header links Kärjetänava lood and rss, text-shadow for h1 Blogist, dark mode li and dark mode h2 - h4*/
.dark-geen-bg {
  background-color: rgb(49, 85, 97);
}

#sidebar {
  background-color: rgb(247, 244, 222);
  padding: 1rem;
  border: 1px solid rgb(96, 53, 64);
  border-radius: 5px;
  height: -moz-max-content;
  height: max-content;
  max-height: calc(100vh - 207px);
  width: 20%;
  position: fixed;
  top: 125px;
  right: 2rem;
  overflow-y: auto;
  /*z-index: 1;*/
}
#sidebar h3 {
  text-align: center;
  margin: 1rem 0 1rem 0;
}
#sidebar ol {
  margin-bottom: 8px;
  list-style-position: inside;
  display: flex;
  flex-direction: column-reverse;
}
#sidebar li,
#sidebar a {
  color: rgb(25, 66, 78);
  transition: all 0.12s ease-in-out;
}
#sidebar li:hover,
#sidebar a:hover {
  font-size: 1.1rem;
  color: rgb(188, 112, 164);
}
#sidebar li.active,
#sidebar li.active a {
  color: rgb(196, 70, 43);
}

.dark-mode #sidebar {
  background-color: rgb(49, 85, 97);
  border: 1px solid rgb(235, 228, 165);
}
.dark-mode #sidebar li,
.dark-mode #sidebar a {
  color: rgb(234, 222, 219);
}
.dark-mode #sidebar li:hover,
.dark-mode #sidebar a:hover {
  font-size: 1.1rem;
  color: rgb(188, 112, 164);
}
.dark-mode #sidebar li.active,
.dark-mode #sidebar li.active a {
  color: rgb(235, 228, 165);
}

@media only screen and (max-width: 768px) {
  #sidebar {
    display: none;
  }
  #sidebar.visible {
    display: block;
    background-color: rgb(235, 228, 165);
    width: 65%;
    top: 20rem;
  }
  .dark-mode #sidebar.visible {
    background-color: rgb(49, 85, 97);
    border: 1px solid rgb(235, 228, 165);
  }
  #showSidebar {
    background-color: rgb(235, 228, 165);
    color: rgb(96, 53, 64);
    border: 1px solid rgb(96, 53, 64);
    outline: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 15px;
    font-size: 1.2rem;
    z-index: 10;
  }
}/*# sourceMappingURL=main.css.map */