@use '../color/color';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
    /*width: 100vw;*/
    overflow: hidden;
}

#blog-main {
    scrollbar-width: thin;
    scrollbar-color: $mellow-yellow $grayish-blue;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: $mellow-yellow;
}

::-webkit-scrollbar-track {
    background-color: $grayish-blue;
}

body {
    width: 100%;
    display: grid;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
    /*overflow-y: hidden;*/
    /*height: 100vh;*/
    grid-template-columns: auto;
    grid-template-rows: minmax(103px, max-content) auto minmax(61px, max-content);
    /*grid-template-rows: minmax(103px, max-content) -webkit-fill-available minmax(71px, max-content);*/
    grid-template-areas:
        'header-area'
        'main'
        'footer-area';
}

header {
    grid-area: header-area;
}

#blog-main {
    grid-area: main;
}

footer {
    grid-area: footer-area;
}

h1 {
    text-shadow: 2px 2px 5px $main-strong-yellow;
}

h1,
h2 {
    text-align: center;
    color: $grayish-blue;
    margin-top: 1rem;
}

h2 {
    margin-bottom: 1.2rem;
}

h3,
h4 {
    color: $main-dark-pink;
}

img {
    border: 2px solid $main-light-purple;
}

p {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: $main-orange;
}

.dark-mode {

    h1,
    a {
        color: $mellow-yellow;
    }

    h2,
    h3,
    h4 {
        color: $main-strong-yellow;
    }
}