@charset "UTF-8";
/*Header and footer background*/
/* Dark mode main text color only*/
/* Dark mode background*/
/*$grayish-blue: rgb(25, 66, 78); Scrollbar track, h1, h2*/
/*Sidebar in dark mode, buttons on hover, h3, h4 and button text color*/
/*Only img borders and scroll-progress bar */
/*Header links Kärjetänava lood and rss, text-shadow for h1 Blogist, dark mode li and dark mode h2 - h4*/
.dark-geen-bg {
  background-color: rgb(49, 85, 97);
}

/*Header and footer background*/
/* Dark mode main text color only*/
/* Dark mode background*/
/*$grayish-blue: rgb(25, 66, 78); Scrollbar track, h1, h2*/
/*Sidebar in dark mode, buttons on hover, h3, h4 and button text color*/
/*Only img borders and scroll-progress bar */
/*Header links Kärjetänava lood and rss, text-shadow for h1 Blogist, dark mode li and dark mode h2 - h4*/
.dark-geen-bg {
  background-color: rgb(49, 85, 97);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#blog-main {
  scrollbar-width: thin;
  scrollbar-color: rgb(235, 228, 165) rgb(25, 66, 78);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(235, 228, 165);
}

::-webkit-scrollbar-track {
  background-color: rgb(25, 66, 78);
}

body {
  width: 100%;
  display: grid;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow: hidden;
  grid-template-columns: auto;
  grid-template-rows: minmax(103px, max-content) auto;
  grid-template-areas: "header-area" "main";
}

header {
  grid-area: header-area;
}

#blog-main {
  grid-area: main;
}

h1 {
  text-shadow: 2px 2px 5px rgb(236, 183, 35);
}

h1,
h2 {
  text-align: center;
  color: rgb(25, 66, 78);
  margin-top: 1rem;
}

h2 {
  margin-bottom: 1.2rem;
}

h3,
h4 {
  color: rgb(96, 53, 64);
}

img {
  border: 2px solid rgb(149, 129, 185);
}

p {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: rgb(196, 70, 43);
}

.dark-mode h1,
.dark-mode a {
  color: rgb(235, 228, 165);
}
.dark-mode h2,
.dark-mode h3,
.dark-mode h4 {
  color: rgb(236, 183, 35);
}

/*Header and footer background*/
/* Dark mode main text color only*/
/* Dark mode background*/
/*$grayish-blue: rgb(25, 66, 78); Scrollbar track, h1, h2*/
/*Sidebar in dark mode, buttons on hover, h3, h4 and button text color*/
/*Only img borders and scroll-progress bar */
/*Header links Kärjetänava lood and rss, text-shadow for h1 Blogist, dark mode li and dark mode h2 - h4*/
.dark-geen-bg {
  background-color: rgb(49, 85, 97);
}

#blog-main {
  max-height: -moz-max-content;
  max-height: max-content;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  line-height: 1.5;
}

.dark-mode main {
  background-color: rgb(17, 17, 32);
  color: rgb(134, 157, 184);
}

#go-to-top {
  background-color: rgb(235, 228, 165);
  color: rgb(96, 53, 64);
  border: 1px solid rgb(96, 53, 64);
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 10;
  outline: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 15px;
  font-size: 2rem;
}

div.blog-description {
  grid-area: description;
  padding: 1rem;
}
div.blog-description p {
  text-align: center;
}

@media only screen and (max-width: 768.999px) {
  #blog-main {
    padding: 0 2.5rem 0 1.5rem;
  }
  div.blog-description {
    max-width: 100%;
  }
  #go-to-top:active {
    background-color: rgb(96, 53, 64);
    color: rgb(235, 228, 165);
    border: 1px solid rgb(235, 228, 165);
  }
}
@media only screen and (min-width: 768.999px) {
  #blog-main {
    display: grid;
    grid-template-columns: 3rem calc(70% - 6rem) 30% 3rem;
    grid-template-rows: auto auto;
    grid-template-areas: ". description sidebar-container ." ". blog-content sidebar-container .";
  }
  #go-to-top:hover {
    background-color: rgb(96, 53, 64);
    color: rgb(235, 228, 165);
    border: 1px solid rgb(235, 228, 165);
  }
}
#blog-content {
  grid-area: blog-content;
}

#posts {
  grid-area: posts;
}

#sidebar-container {
  grid-area: sidebar-container;
}

/*Header and footer background*/
/* Dark mode main text color only*/
/* Dark mode background*/
/*$grayish-blue: rgb(25, 66, 78); Scrollbar track, h1, h2*/
/*Sidebar in dark mode, buttons on hover, h3, h4 and button text color*/
/*Only img borders and scroll-progress bar */
/*Header links Kärjetänava lood and rss, text-shadow for h1 Blogist, dark mode li and dark mode h2 - h4*/
.dark-geen-bg {
  background-color: rgb(49, 85, 97);
}

header {
  width: 100%;
  z-index: 2;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid rgb(96, 53, 64);
  font-family: "Patua One", cursive;
  text-transform: uppercase;
  text-shadow: 3px 3px 3px rgb(27, 27, 26);
}

#svg5,
#svg1516 {
  border: none;
  height: 21.27px;
  width: auto;
  vertical-align: middle;
}

@media only screen and (max-width: 768.999px) {
  header {
    display: grid;
    grid-template-columns: 22px 2rem auto auto 22px;
    grid-template-rows: 80px 22px;
    grid-template-areas: ". showMenu homepage-link mode-switch-wrapper ." "bee-hive progress-bar progress-bar progress-bar flower";
  }
  #showSidebar {
    display: block;
  }
  #social {
    display: none;
  }
  #homepage-link {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media only screen and (min-width: 768.999px) {
  header {
    display: grid;
    grid-template-columns: 22px auto 15% 15% 22px;
    grid-template-rows: minmax(80px, 4rem) 22px;
    grid-template-areas: "homepage-link homepage-link social mode-switch-wrapper ." "bee-hive progress-bar progress-bar progress-bar flower";
  }
  #social {
    grid-area: social;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-areas: "instagram message rss";
    grid-gap: 5px;
  }
  #showSidebar {
    display: none;
  }
}
header a,
.dark-mode header a {
  color: rgb(236, 183, 35);
}

.letter {
  will-change: transform;
  display: inline-block;
  font-size: clamp(16px, 4vw, 40px);
}

@media (prefers-reduced-motion: no-preference) {
  .letter:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  @keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }
}
#showSidebar {
  grid-area: showMenu;
}

#homepage-link {
  grid-area: homepage-link;
}

#instagram {
  grid-area: instagram;
}

#message {
  grid-area: message;
}

#rss-feed-link {
  grid-area: rss;
}

#mode-switch-wrapper {
  grid-area: mode-switch-wrapper;
}

#mode-switch {
  background-color: rgb(72, 197, 124);
  border-radius: 50%;
  cursor: pointer;
  font-size: clamp(20px, 4vw, 40px);
}

.scroll-progress-container {
  grid-area: progress-bar;
  width: 100%;
  background-image: linear-gradient(140deg, rgb(234, 222, 219) 0%, rgb(188, 112, 164) 50%, rgb(235, 228, 165) 75%);
}

.scroll-progress-bar {
  padding: 0;
  background-image: linear-gradient(140deg, rgb(149, 129, 185) 0%, rgb(117, 212, 219) 50%, rgb(235, 228, 165) 75%);
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  width: 0%;
  text-align: left;
  transform: scaleX(-1);
}

.dark-mode .scroll-progress-bar {
  background-color: rgb(49, 85, 97);
}

#flower {
  grid-area: flower;
  text-align: left;
  background-color: rgb(235, 228, 165);
}

#bee-hive {
  grid-area: bee-hive;
  text-align: right;
  background-color: rgb(235, 228, 165);
  z-index: 5;
}

/*Header and footer background*/
/* Dark mode main text color only*/
/* Dark mode background*/
/*$grayish-blue: rgb(25, 66, 78); Scrollbar track, h1, h2*/
/*Sidebar in dark mode, buttons on hover, h3, h4 and button text color*/
/*Only img borders and scroll-progress bar */
/*Header links Kärjetänava lood and rss, text-shadow for h1 Blogist, dark mode li and dark mode h2 - h4*/
.dark-geen-bg {
  background-color: rgb(49, 85, 97);
}

#posts {
  margin: 2rem 1rem 0 0;
  text-align: justify;
  display: flex;
  flex-direction: column-reverse;
}
#posts article p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 1rem;
}
#posts article h3 {
  margin-bottom: 0.8rem;
}

.post-metadata p,
.post-metadata a {
  font-size: 0.9rem;
  font-weight: lighter;
  font-style: italic;
  text-align: center;
}

img.post-image-regular {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  transition: width 1s ease-in;
}
img.post-image-regular:hover {
  width: 80%;
}

img.post-image-small {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  transition: width 1s ease-in;
}
img.post-image-small:hover {
  width: 40%;
}

figcaption {
  text-align: center;
  font-size: smaller;
}

img.hero-image {
  width: 100%;
}

.comparison-container {
  position: relative;
  height: 300px;
  width: 534px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.comparison-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}
.comparison-img img {
  display: block;
  vertical-align: middle;
}

.image-comparison-slider {
  position: absolute;
  z-index: 3;
  cursor: ew-resize;
  width: 40px;
  height: 40px;
  background-color: rgb(27, 27, 26);
  opacity: 0.7;
  border-radius: 50%;
}

@media only screen and (max-width: 768.999px) {
  img.post-image-regular {
    width: 100%;
  }
  img.post-image-small {
    width: 50%;
  }
  .comparison-container,
  .comparison-img img {
    height: 169px;
    width: 268px;
  }
  .comparison-img {
    width: 100%;
  }
}
@media only screen and (min-width: 768.999px) and (max-width: 920.999px) {
  .comparison-container,
  .comparison-img img {
    height: 253.5px;
    width: 402px;
  }
  .comparison-img {
    width: 100%;
  }
}
/*Header and footer background*/
/* Dark mode main text color only*/
/* Dark mode background*/
/*$grayish-blue: rgb(25, 66, 78); Scrollbar track, h1, h2*/
/*Sidebar in dark mode, buttons on hover, h3, h4 and button text color*/
/*Only img borders and scroll-progress bar */
/*Header links Kärjetänava lood and rss, text-shadow for h1 Blogist, dark mode li and dark mode h2 - h4*/
.dark-geen-bg {
  background-color: rgb(49, 85, 97);
}

#sidebar {
  background-color: rgb(247, 244, 222);
  padding: 1rem;
  border: 1px solid rgb(96, 53, 64);
  border-radius: 5px;
  height: -moz-max-content;
  height: max-content;
  max-height: calc(100vh - 207px);
  width: 20%;
  position: fixed;
  top: 125px;
  right: 3rem;
  overflow-y: auto;
  z-index: 11;
}
#sidebar h3 {
  text-align: center;
  margin: 1rem 0 1rem 0;
}
#sidebar #social-block {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
#sidebar #social-block {
  text-align: center;
}
#sidebar #social-block a,
#sidebar #social-block p {
  vertical-align: bottom;
  color: rgb(96, 53, 64);
  line-height: 22px;
  margin-bottom: 8px;
}
#sidebar #rss-feed-sidebar {
  font-size: 21.27px;
}
#sidebar ol {
  margin-bottom: 8px;
  list-style-position: inside;
  display: flex;
  flex-direction: column-reverse;
}
#sidebar a {
  margin: 8px;
}
#sidebar li,
#sidebar a {
  color: rgb(25, 66, 78);
  transition: all 0.12s ease-in-out;
}
#sidebar li:hover,
#sidebar a:hover {
  font-size: 1.1rem;
  color: rgb(188, 112, 164);
}
#sidebar li.active,
#sidebar li.active a {
  color: rgb(196, 70, 43);
}
#sidebar #instagram-sidebar #svg5,
#sidebar #instagram-sidebar #svg1516,
#sidebar #message-sidebar #svg5,
#sidebar #message-sidebar #svg1516 {
  height: 21.27px;
  width: auto;
  border: none;
}
#sidebar #instagram-sidebar #svg1516 g g g path,
#sidebar #message-sidebar #svg1516 g g g path {
  stroke: rgb(96, 53, 64) !important;
}
#sidebar #instagram-sidebar #svg5 g g rect,
#sidebar #instagram-sidebar #svg5 g g #path1190,
#sidebar #message-sidebar #svg5 g g rect,
#sidebar #message-sidebar #svg5 g g #path1190 {
  stroke: rgb(96, 53, 64) !important;
}
#sidebar #instagram-sidebar #svg5 g g #path1294,
#sidebar #message-sidebar #svg5 g g #path1294 {
  fill: rgb(96, 53, 64) !important;
}

.dark-mode #sidebar {
  background-color: rgb(49, 85, 97);
  border: 1px solid rgb(235, 228, 165);
}
.dark-mode #sidebar li,
.dark-mode #sidebar a {
  color: rgb(234, 222, 219);
}
.dark-mode #sidebar #social-block p {
  color: rgb(235, 228, 165);
}
.dark-mode #sidebar li:hover,
.dark-mode #sidebar a:hover {
  font-size: 1.1rem;
  color: rgb(188, 112, 164);
}
.dark-mode #sidebar li.active,
.dark-mode #sidebar li.active a {
  color: rgb(235, 228, 165);
}
.dark-mode #sidebar #social-block,
.dark-mode #sidebar #rss-feed-sidebar {
  color: rgb(235, 228, 165);
}
.dark-mode #sidebar #instagram-sidebar #svg5,
.dark-mode #sidebar #instagram-sidebar #svg1516,
.dark-mode #sidebar #message-sidebar #svg5,
.dark-mode #sidebar #message-sidebar #svg1516 {
  border: none;
  height: 21.27px;
  width: auto;
  vertical-align: middle;
}
.dark-mode #sidebar #instagram-sidebar #svg1516 g g g path,
.dark-mode #sidebar #message-sidebar #svg1516 g g g path {
  stroke: rgb(235, 228, 165) !important;
}
.dark-mode #sidebar #instagram-sidebar #svg5 g g rect,
.dark-mode #sidebar #instagram-sidebar #svg5 g g #path1190,
.dark-mode #sidebar #message-sidebar #svg5 g g rect,
.dark-mode #sidebar #message-sidebar #svg5 g g #path1190 {
  stroke: rgb(235, 228, 165) !important;
}
.dark-mode #sidebar #instagram-sidebar #svg5 g g #path1294,
.dark-mode #sidebar #message-sidebar #svg5 g g #path1294 {
  fill: rgb(235, 228, 165) !important;
}

@media only screen and (max-width: 768.999px) {
  #sidebar {
    display: none;
  }
  #sidebar.visible {
    display: block;
    background-color: rgb(235, 228, 165);
    width: 65%;
  }
  .dark-mode #sidebar.visible {
    background-color: rgb(49, 85, 97);
    border: 1px solid rgb(235, 228, 165);
  }
  #showSidebar {
    background-color: rgb(235, 228, 165);
    color: rgb(96, 53, 64);
    border: 1px solid rgb(96, 53, 64);
    outline: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 15px;
    font-size: 2rem;
    z-index: 10;
    text-align: center;
    margin: auto;
  }
  #social-block {
    display: block;
  }
}
@media only screen and (min-width: 768.999px) {
  #social-block {
    display: none;
  }
}
@media only screen and (min-width: 920px) {
  #sidebar {
    width: 30%;
  }
}/*# sourceMappingURL=styles.css.map */