@use '../color/color';

#blog-main {
    max-height: max-content;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    line-height: 1.5;
}

.dark-mode {
    main {
        background-color: $night-blue;
        color: $blueish-gray;

        a.bmc-btn {
            color: black;
        }
    }
}

#go-to-top {
    @include light-button-theme;
    display: none;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 10;
    outline: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 15px;
    font-size: 2rem;

}

div.blog-description {
    grid-area: description;
    padding: 1rem;

    p {
        text-align: center;
    }
}

@media only screen and (max-width: 768.999px) {

    #blog-main {
        padding: 0 2.5rem 0 1.5rem;
    }

    div.blog-description {
        max-width: 100%;
    }

    #go-to-top {
        &:active {
            @include dark-button-theme;
        }
    }
}

@media only screen and (min-width: 768.999px) {
    #blog-main {
        display: grid;
        grid-template-columns: 3rem calc(100% - 30% - 6rem) 30% 3rem;
        grid-template-rows: auto auto;
        grid-template-areas:
            '. description sidebar-container .'
            '. blog-content sidebar-container .';
    }

    #go-to-top {
        &:hover {
            @include dark-button-theme;
        }
    }
}

#blog-content {
    grid-area: blog-content;
}

#posts {
    grid-area: posts;
}

#sidebar-container {
    grid-area: sidebar-container;
}