@use '../color/color';

header {
    width: 100%;
    z-index: 2;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid $main-dark-pink;
    font-family: 'Patua One', cursive;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px $mellow-black;
}

@media only screen and (max-width: 768px) {

    header {
        display: grid;
        grid-template-columns: auto auto auto 22px;
        grid-template-rows: 80px 22px;
        grid-template-areas:
            'homepage-link rss mode-switch-wrapper .'
            'progress-bar progress-bar progress-bar flower';
    }
}

@media only screen and (min-width: 768px) {
    header {
        display: grid;
        grid-template-columns: auto 5rem auto 22px;
        grid-template-rows: minmax(80px, 3.4rem) 22px;
        grid-template-areas:
            'homepage-link rss mode-switch-wrapper .'
            'progress-bar progress-bar progress-bar flower';
    }

}

header,
.dark-mode header {
    a {
        color: $main-strong-yellow;
    }
}

.letter {
    will-change: transform;
    display: inline-block;
    font-size: clamp(20px, 4vw, 40px);

    &:hover {
        animation: shake 0.5s;
        animation-iteration-count: infinite;
    }
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

#homepage-link {
    grid-area: homepage-link;
}

#rss-feed-link {
    grid-area: rss;
}

#mode-switch-wrapper {
    grid-area: mode-switch-wrapper;
}

#mode-switch {
    background-color: $main-light-green;
    border-radius: 50%;
    cursor: pointer;
    font-size: clamp(20px, 4vw, 40px);
}

.scroll-progress-container {
    grid-area: progress-bar;
    width: 100%;
    background-image: linear-gradient(140deg, $pinkish-white 0%, $regular-pink 50%, $mellow-yellow 75%);
}

.scroll-progress-bar {
    padding: 0;
    background-image: linear-gradient(140deg, $main-light-purple 0%, $light-blue 50%, $mellow-yellow 75%);
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    width: 0%;
    text-align: left;
    transform: scaleX(-1);
}

.dark-mode {
    .scroll-progress-bar {
        background-color: $main-dark-green;
    }
}

#flower {
    grid-area: flower;
    text-align: left;
    background-color: $mellow-yellow;
}