@use '../color/color';

#posts {
    margin: 2rem 1rem 0 0;
    text-align: justify;
    display: flex;
    flex-direction: column-reverse;

    article {
        p {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin-bottom: 1rem;
        }

        h3 {
            margin-bottom: 0.8rem;
        }
    }
}

.post-metadata {

    p,
    a {
        font-size: 0.9rem;
        font-weight: lighter;
        font-style: italic;
        text-align: center;
    }
}

img.post-image-regular {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    transition: width 1s ease-in;

    &:hover {
        width: 80%;
    }
}

img.post-image-small {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    transition: width 1s ease-in;

    &:hover {
        width: 40%;
    }
}

figcaption {
    text-align: center;
    font-size: smaller;
}

img.hero-image {
    width: 100%;
}

.comparison-container {
    position: relative;
    height: 300px;
    width: 534px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.comparison-img {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;

    img {
        display: block;
        vertical-align: middle;
    }
}

.image-comparison-slider {
    position: absolute;
    z-index: 3;
    cursor: ew-resize;
    width: 40px;
    height: 40px;
    background-color: $mellow-black;
    opacity: 0.7;
    border-radius: 50%;
}

@media only screen and (max-width: 768.999px) {
    img.post-image-regular {
        width: 100%;
        height: auto;
    }

    img.post-image-small {
        width: 50%;
        height: auto;
    }

    .comparison-container,
    .comparison-img img {
        height: 169px;
        width: 268px;
    }

    .comparison-img {
        width: 100%;
    }
}

@media only screen and (min-width: 768.999px) and (max-width: 920.999px) {

    .comparison-container,
    .comparison-img img {
        height: 253.5px;
        width: 402px;
    }

    .comparison-img {
        width: 100%;
    }
}