@use '../color/color';

#sidebar {
    background-color: $light-beige-yellow;
    padding: 1rem;
    border: 1px solid $main-dark-pink;
    border-radius: 5px;
    height: max-content;
    max-height: calc(100vh - 207px);
    width: 20%;
    position: fixed;
    top: 125px;
    right: 3rem;
    overflow-y: auto;
    z-index: 11;

    h3 {
        text-align: center;
        margin: 1rem 0 1rem 0;
    }

    #social-block {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    #social-block {
        text-align: center;

        a,
        p {
            vertical-align: bottom;
            color: $main-dark-pink;
            line-height: 22px;
            margin-bottom: 8px;
        }

        #coffee svg {
            display: block;
            height: 42.54px;
            width: auto;
            margin: 12px auto 0 auto;
        }
    }

    #rss-feed-sidebar {
        font-size: 21.27px;
    }

    ol {
        margin-bottom: 8px;
        list-style-position: inside;
        display: flex;
        flex-direction: column-reverse;
    }

    a {
        margin: 8px;
    }

    li,
    a {
        color: $grayish-blue;
        transition: all 0.12s ease-in-out;
    }

    li:hover,
    a:hover {
        font-size: 1.1rem;
        color: $regular-pink;
    }

    li.active,
    li.active a {
        color: $main-orange;
    }

    #instagram-sidebar,
    #message-sidebar {

        #svg5,
        #svg1516 {
            height: 21.27px;
            width: auto;
            border: none;
        }

        #svg1516 {
            g g g path {
                stroke: $main-dark-pink !important;
            }
        }

        #svg5 {

            g g rect,
            g g #path1190 {
                stroke: $main-dark-pink !important;
            }

            g g #path1294 {
                fill: $main-dark-pink !important;
            }
        }
    }
}

.dark-mode {
    #sidebar {
        background-color: $main-dark-green;
        border: 1px solid $mellow-yellow;

        li,
        a {
            color: $pinkish-white;
        }

        #social-block p {
            color: $mellow-yellow;
        }

        li:hover,
        a:hover {
            font-size: 1.1rem;
            color: $regular-pink;
        }

        li.active,
        li.active a {
            color: $mellow-yellow;
        }

        #social-block,
        #rss-feed-sidebar {
            color: $mellow-yellow;
        }

        #instagram-sidebar,
        #message-sidebar {

            #svg5,
            #svg1516 {
                border: none;
                height: 21.27px;
                width: auto;
                vertical-align: middle;
            }

            #svg1516 {
                g g g path {
                    stroke: $mellow-yellow !important;
                }
            }

            #svg5 {

                g g rect,
                g g #path1190 {
                    stroke: $mellow-yellow !important;
                }

                g g #path1294 {
                    fill: $mellow-yellow !important;
                }
            }
        }
    }
}


@media only screen and (max-width: 768.999px) {

    #sidebar {
        display: none;
    }

    #sidebar.visible {
        display: block;
        background-color: $mellow-yellow;
        width: 65%;
    }

    .dark-mode {
        #sidebar.visible {
            background-color: $main-dark-green;
            border: 1px solid $mellow-yellow;
        }
    }

    #showSidebar {
        @include light-button-theme;
        outline: none;
        cursor: pointer;
        padding: 5px;
        border-radius: 15px;
        font-size: 2rem;
        z-index: 10;
        text-align: center;
        margin: auto;
    }

    #social-block {
        display: block;
    }
}

@media only screen and (min-width: 768.999px) {
    #social-block {
        display: none;
    }
}

@media only screen and (min-width: 920px) {
    #sidebar {
        width: 30%;
    }
}