---
---
<article id={{page.id}}>
    <h2 id=post-heading-{{page.id}}>{{ page.title | capitalize }}</h2>
    <p class="post-author">{{ page.time }} - Autor: {{ page.author | capitalize }}</p>
    {% if page.hero %}
    <img class="hero-image" src="{{page.hero}}">
    {% endif %}
    {% if page.compare_1 %}

    <div class="comparison-container">
        <div class="comparison-img">
            <img src="{{page.compare_1}}" width="400" height="300">
        </div>
        <div class="comparison-img comparison-overlay">
            <img src="{{page.compare_2}}" width="400" height="300">
        </div>
    </div>

    {% endif %}
    <p>{{content}}</p>
</article>