---
---
<article id={{page.id}}>
    <h2 id=post-heading-{{page.id}}>{{ page.title | capitalize }}</h2>
    <div class="post-metadata">
        <p>{{ page.time }} - Autor: {{ page.author | capitalize }}</p>
        <p><span>Inimtoodetud sisu: {{page.human_generated}},&#8194;AI genereeritud sisu: {{page.ai_generated}}</p>
        <p>Postituse kategooriad:
            {% for category in page.categories %}
            <span> {{category}} </span>
            {% endfor %}
        </p>
        <p>Sildid:
            {% for tag in page.tags %}
            <span> {{tag}} </span>
            {% endfor %}
        </p>
    </div>
    {% if page.hero %}
    <img class="hero-image" src="{{page.hero}}">
    {% endif %}

    {% if page.compare_1 %}
    <div class="comparison-container">
        <figure>
            <div class="comparison-img">
                <img src="{{site.baseurl}}{{page.compare_1}}" width="534" height="300">
            </div>
            <div class="comparison-img comparison-overlay">
                <img src="{{site.baseurl}}{{page.compare_2}}" width="534" height="300">
            </div>
            <figcaption>
                {{page.compare_caption}}&#8194;Autor: {{page.compare_author}} {{page.picture_date_compare}}
            </figcaption>
        </figure>
    </div>
    {% endif %}
    <p>{{content}}</p>
</article>